button {
    z-index: 1000;
    margin: 10px;
    width: 100%;
    cursor: pointer;

    background: transparent;
    border: none;

    img {
        height: 10vw;
    }
}

@media (max-width: 768px) {
    button {
        img {
            height: 15vw;
        }
    }
}